[scenario]

  id=01_goblin_raiders
  #next_scenario=02_test-more
 
  name=Goblin raiders
  map_data="{~add-ons/Heart_Of_The_Underwood/maps/01_goblin_raiders.map}"
  turns=20
 
  {DAWN}
  {MORNING}
  {AFTERNOON}
  {DUSK}
  {FIRST_WATCH}
  {SECOND_WATCH}
 
  music=wesnoth-1.ogg

	[story]
		  [part]
		story= _ "The Dwarven city of Karimhal stands at the foot of the Lom mountains. Always an industrious and active city, in recent years Karimhal has entered an era of extreme prosperity under the leadership of King Gorrehn the Just."
		background="story/placeholder.png"
		  [/part]
		  [part]
		story= _ "The city provides a rich target, though, and its outlying villages are often prone to banditry. The city is swift to answer such transgressions, and those who live in the shadow of Karimhal and the Lom are largely content to trust in the protection of Gorrehn."
		background="story/placeholder.png"
		  [/part]
		  [part]
		story= _ "Recently, dwarven scouts sighted a small incursion of goblins encroaching on Karimhal territory to the north-east. By the time reports reached the city, the mountain village of Morgehn's Rest had been overrun. Having established a make-shift encampment in the mountains near Morgehn's Rest, the goblin leader began to send raiding parties against other villages."
		background="story/placeholder.png"
		  [/part]
		  [part]
		story= _ "Such aggression cannot go unanswered."
		background="story/placeholder.png"
		  [/part]
	[/story]

 
  [event]
    name=prestart
    {MOVE_UNIT id=Ruvas 4 20} # We need to move Ruvas to his initial position.
    [objectives]
      side=1
      [objective]
        description= _ "Defeat Enemy Leader"
        condition=win
      [/objective]
      [objective]
        description= _ "Death of Ruvas"
        condition=lose
      [/objective]
      [objective]
        description= _ "Turns run out"
        condition=lose
      [/objective]
    [/objectives]
    
    [unit]
        side=1
        type=Dwarvish Scout
        id=dscout01
        x,y=5,17
        facing="ne"
    [/unit]
    [unit]
        side=1
        type=Dwarvish Scout
        id=dscout02
        x,y=6,17
        facing="ne"
    [/unit]
    [unit]
        side=1
        type=Dwarvish Scout
        id=dscout03
        x,y=6,18
        facing="ne"
    [/unit]
    [unit]
        side=1
        type=Dwarvish Guardsman
        id=dguard01
        x,y=6,16
        facing="ne"
    [/unit]
    [unit]
        side=1
        type=Dwarvish Guardsman
        id=dguard01
        x,y=7,17
        facing="ne"
    [/unit]
    [unit]
        side=1
        type=Dwarvish Guardsman
        id=dguard01
        x,y=7,18
        facing="ne"
    [/unit]
    [unit]
        side=1
        type=Dwarvish Fighter
        id=Gruvf
        x,y=2,15
        facing="sw"
        name=Lord Gruvf
    [/unit]
    
    [unit]
        side=2
        type=Goblin Impaler
        id=gimpaler01
        x,y=29,3
        facing="sw"
    [/unit]
    [unit]
        side=2
        type=Goblin Impaler
        id=gimpaler02
        x,y=29,4
        facing="sw"
    [/unit]
    [unit]
        side=2
        type=Goblin Spearman
        id=gspearman01
        x,y=28,3
        facing="sw"
    [/unit]
    [unit]
        side=2
        type=Goblin Spearman
        id=gspearman02
        x,y=28,4 # Sat on the village (Morgehn's Rest)
        facing="sw"
    [/unit]
    
  [/event]
  
  [event]
    name=start
    [scroll_to]
      x,y=5,15
    [/scroll_to]
    {MOVE_UNIT id=Ruvas 1 16}
    [message]
      id=Ruvas
      message= _ "Sorry I'm late, Lord Gruvf! I would have been here earlier, only -"       
    [/message]
    [message]
      id=Gruvf
      message= _ "Stop blabbering, Ruvas. This is important."
    [/message]
    [message]
      id=Ruvas
      message= _ "Yes, sir."
    [/message]
    [message]
      id=Gruvf
      message= _ "You're no doubt aware of the goblin incursion at Morgehn's Rest. It's only a small band of goblins, so it shouldn't be too much trouble to send them packing. This will be a good test of your command abilities, young Ruvas. Send your best men and take back Morgehn's Rest."
    [/message]  
    [kill]
      id=Gruvf
    [/kill]
    [role]
      role=plucky_sergeant
      type=Dwarvish Guardsman
    [/role]
    [message]
      role=plucky_sergeant
      message= _ "We should stick to our strengths here, Ruvas. We're much better in mountainous terrain than the goblins. I suggest we hold them off at the Pass Of Anarr."
    [/message]  
    [scroll_to]
      x,y=16,14 # Pass of Annar
    [/scroll_to]
           
  [/event]
  
  [side]
    side=1
    controller=human
    user_team_name= _ "Karimhal defenders"

    type=Dwarvish Pathfinder
    id=Ruvas
    name=Ruvas
    canrecruit=yes

    recruit=Dwarvish Guardsman,Dwarvish Scout

    {GOLD 80 55 0}
    {INCOME 10 5 0}
  [/side] 
  
  [side]
    side=2
    controller=ai
    user_team_name= _ "Goblin raiders"

    type=Wolf Rider
    id=goblin_leader
    name=Baruhnak
    canrecruit=yes

    recruit=Goblin Spearman

    {GOLD 70 40 10}
    {INCOME 8 4 0}
  [/side] 
  
  [label]
      text=Morgehn's Rest
      x,y=28,4
  [/label]
  
  [label]
      text=The Pass Of Anarr
      x,y=16,14
  [/label]

[/scenario]

